img.itemb:hover {
    transform: scale(1.1);
}

section.box-video {
    display: flex;
    flex-direction: column;
    padding: 50px 90px;
    justify-content: center;
}

.video-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.video-title {
    font-size: 55px;
    font-weight: bolder;
    background: linear-gradient(to bottom, #eb7ab7, #f6a3d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-show iframe,
.video-show video {
    width: 719px;
    height: 453px;
    position: absolute;
    margin-top: -528px;
    /* margin-left: 90px; */

}

section .video {
    display: flex;
    flex-direction: row;
    padding: 50px 90px;
    justify-content: center;
}

.video-show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.all-video {
    margin-top: 20px;
}

.banner-section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.eservice-box {
    display: flex;
    padding: 40px;
    justify-content: center;
    gap: 90px;
}

.eservice-banner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eservice-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.banner-eservice-section3-img-Frame {
    position: relative;
    margin-top: -40px;
}

img.banner-eservice-section3-img-logo {
    z-index: 6;
    position: absolute;
}

.text-eservice {
    position: absolute;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.txt-eservice-1 {
    font-size: 50px;
    font-weight: 1000;
    color: #fff;
}

span.txt-eservice-2 {
    font-size: 40px;
    font-weight: 800;
    margin-top: -22px;
    color: #fff;
    margin-bottom: 12px;
}

span.txt-eservice-3,
span.txt-eservice-4,
span.txt-eservice-5 {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

img.banner-eservice-section3-img-eservice {
    margin-top: -24%;
    z-index: 1;
}

.eservice-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.eservice-banner-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* section 4*/

section.notice-board {
    margin-top: -35px;
}

.Topic-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img.notice-board-img {
    width: 100%;
    position: relative;
}

.Topic-label span {
    color: #fff;
    position: absolute;
    font-size: 70px;
    font-weight: 900;
}

div#carouselExampleSlidesBoard {
    padding: 0 150px;
}

/*activity*/
.activity-directory {
    padding: 20px 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.card-activity-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 400px;
    height: 450px;
}

img.activity-image {
    width: 350px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(50%);
}

.view-count-activity {
    position: absolute;
    background: #fed1ed;
    border-radius: 20px;
    padding: 0px 10px;
    margin-top: 5px;
    z-index: 1;
}

.activity-img {
    position: absolute;
}

.activity-title {
    position: relative;
    top: 65%;
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    z-index: 1;
}

.activity-detail,
.activity-date {
    position: relative;
    color: #fff;
    top: 65%;
    z-index: 1;
}

.box-all-activity {
    text-align: center;
}

.activity-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 60px; */
    gap: 20px;
    padding: 60px 60px 250px 60px;
}

/*activity*/

/*
.gold-card {
    width: 320px;
    border-radius: 50px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background: linear-gradient(90deg, rgb(237 202 119), rgb(252 229 168), rgb(213 157 41));
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.gold-header {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.12));
    padding: 10px 16px;
    text-align: center;
    font-weight: 700;
    color: #2b2b2b;
    letter-spacing: 0.4px;
    font-size: 18px;
}

.gold-body {
    padding: 14px 18px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.03));
}

.gold-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px 0;
}

.gold-label {
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
}

.gold-label .small {
    font-weight: 700;
    font-size: 13px;
}

.gold-label .unit {
    font-size: 11px;
    opacity: 0.85;
}

.gold-value {
    font-weight: 900;
    font-size: 26px;
    color: #2b2b2b;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    min-width: 130px;
    text-align: right;
}

.divider {
    height: 2px;
    background: #8c743f;
    margin: 6px 0;
    border-radius: 2px;
}
*/


img.banner-Fuel-Banner {
    height: 165px;
}

img.banner-Gold-Banner,
img.banner-back-office,
img.banner-Fuel-Banner {
    width: 350px;
}

.gold-value-buy,
.gold-value-sell {
    position: absolute;
    padding: 50px;
    z-index: 1;
    left: 28%;
}

.gold-value-buy {
    margin-top: 18px;
}

.gold-value-sell {
    margin-top: 68px;
}

.gold-value {
    font-size: 30px;
    font-weight: 1000;
}

.Oil-value {
    font-size: 25px;
    font-weight: 1000;
}

.Oil-value-buy,
.Oil-value-sell {
    position: absolute;
    padding: 37px;
    z-index: 1;
    left: 71%;
}

.Oil-value-buy {
    margin-top: 32px;
}

.Oil-value-sell {
    margin-top: 72px;
}

/* section.Press-release {
    display: flex;
    justify-content: center;
} */

section.Press-release {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

section.Press-release .Topic-label {
    position: absolute;
    margin-top: -10%;
}

.box-press-release {
    padding: 20px 30px;
    width: 1000px;
    height: 650px;
    margin-top: 20%;
    margin-bottom: 50px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    display: flex;
    gap: 50px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.card-Press-release-body {
    display: flex;
    gap: 20px;
}

.Press-release-img img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.Press-release-cate {
    display: flex;
    gap: 15px;
    align-items: center;
}

.topic-box {
    background: #dce9fe;
    padding: 2px 15px;
    border-radius: 20px;
    font-weight: 900;
}

.Press-release-date {
    font-weight: bolder;
    color: #b4b4b4;
}

.Press-release-title {
    font-size: 25px;
}

.box-all-Press-release {
    display: flex;
    justify-content: flex-end;
    margin-top: -25px;
}

img.all-Press-release {
    width: 100px;
}

div#bannerCarousel-Press-release {
    width: 1615px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div#bannerWrapper-Press-release {
    width: 1459px;
    padding: 20px;
    overflow: hidden;
}

.banner-Press-release {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.banner-item.original img {
    width: 477px;
}

div#bannerTrack-Press-release {
    width: 100%;
    display: flex;
    /* justify-content: center; */
}

/* section 4*/