@media (min-width: 576px) and (max-width: 767.98px) {
    .nav-strip {
        width: 220px;
    }

    .nav-pill {
        font-size: 15px;
        padding: 10px 16px;
    }

    .box-top {
        padding: 50px 140px;
    }

    img.header-logo {
        width: 50px;
    }
     .header-title-th {
        font-size: 15px;
        font-weight: 800;
    }

    .header-title-en {
        font-size: 10px;
        margin-top: 0px;
        font-weight: 500;
    }
}