@media (max-width: 575.98px) {


    .box-top {
        padding: 50px 140px;
    }

    img.header-logo {
        width: 50px;
    }

    .header-title-th {
        font-size: 15px;
        font-weight: 800;
    }

    .header-title-en {
        font-size: 10px;
        margin-top: 0px;
        font-weight: 500;
    }

    .search-box {
        display: flex;
        align-items: center;
        background: #fff;
        border: 1.5px solid #ddd;
        border-radius: 25px;
        padding: 0px 12px;
        width: 154px;
        transition: all 0.3s ease;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    }

    .search-input {
        width: 100%;
    }

    .flag-img img {
        width: 10px;
    }

    .box-top {
        padding: 50px 10px;
    }

    .submenu {
        display: none;
        position: relative;
        top: 0;
        left: -10%;
        font-size: 10px;
    }
}